# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Engineering. Education. Research.
email: akatz 4 at vt dot edu
description: >- # this means to ignore newlines until "baseurl:"
  Andrew Katz is an assistant professor in the Department of 
  Engineering Education at Virginia Tech.
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
twitter_username: doc_katz
github_username: username
minimal_mistakes_skin: dark
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Andrew S. Katz"
  avatar : "/assets/images/ak_alt_headshot_small_2.jpg"
  bio    : "Researcher, teacher, and engineer"
  links:
    - label: "Official VT Website"
      icon: "fas fa-fw fa-university"
      url: "https://enge.vt.edu/People/researchfaculty/andrewkatz.html"
    - label: "IDEEAS Lab Website"
      icon: "fas fa-fw fa-link"
      url: "http://www.ideeaslab.com"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/doc_katz"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/"
    #- label: "Instagram"
      #icon: "fab fa-fw fa-instagram"
      #url: "https://instagram.com/"

footer:
  links:
    - label: ""
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/doc_katz"
    - label: ""
      icon: "fab fa-fw fa-github"
      url: "https://github.com/"
    #- label: "Instagram"
      #icon: "fab fa-fw fa-instagram"
      #url: "https://instagram.com/"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
